.button {
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    transition: 0.2s all;
}

.button.primary {
    background-color: blue;
}

.button.danger {
    background-color: red;
}

.button.primary:hover {
    transform: translateY(-2px);
}

.button.success {
    background-color: lightgreen;
}