.nav {
    display: flex;
    min-height: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: blue;
    color: white;
}

.link {
    margin-right: 10px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}